<%- include('header') %> 

<h2>This is the about page</h2>

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero placeat animi odit repudiandae ipsam culpa quibusdam
maxime quasi illum! Necessitatibus, odio eius maiores ex quos temporibus obcaecati autem numquam quam.

<%- include('footer') %> 